/* .status-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
} */

/* .status-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
} */

.circle {
  background-clip: content-box; /*Ensure image is clipped to circle*/

}

.progress-circle {
  /* Hide the progress circle's stroke for aesthetics */
  stroke: none;
}

.progress-path {
  /* Animation styles for progress bar movement */
  animation-name: progress;
  @keyframes progress {
    from {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0%;
    }
  }
}
